* {
    box-sizing: border-box;
}

body {
    font-family: 'Golos Text', sans-serif;
    margin: 0;
    padding: 0;
    color: #f7f9f9;
}

.main-content {
    min-height: 80vh;
    background-image: url(../images/banner-ged899ee4f_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 60px;
    color: #2d2354;
    text-shadow: 2px 2px #fdfcff;

}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #2e2942;
    border-radius: 5px;
    padding: 14px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-buttons {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 20px;
}

.btn {
    border: 2px solid;
    background-color: #ffff;
    border-radius: 10px;
    padding: 5px 14px;
    color: black;
    font-family: 'Golos Text', sans-serif;
    cursor: pointer;
}

.answer-buttons .btn {
    width: 120px;
    height: 60px;
}

.btn:hover {
    background-color: #2e2942;
    color: #f7f9f9;
}

.hidden {
    display: none;
}

/* footer */

footer {
    background-color: #2e2942;
    color: #F0FFFF;
    padding-bottom: 14px;
}

.contact-wrapper {
    text-align: center;
    display: inline;
    padding: 0 28px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    padding: 0 28px;
}

.social-networks i {
    color: #F0FFFF;
    font-size: 30px;
}