* {
    box-sizing: border-box;
}

body {
    font-family: 'Golos Text', sans-serif;
    margin-top: 60px;
    padding: 0;
    color: #f7f9f9;
    background-image: url(../images/banner-ged899ee4f_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 0;
}

.container {
    width: 80%;
    margin-top: 80px;
    margin-left: 500px;
    max-width: 800px;
    background-color: #2e2942;
    border-radius: 5px;
    padding: 14px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-buttons {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    align-items: flex-start;
}



.btn {
    border: 2px solid;
    background-color: #ffff;
    border-radius: 10px;
    padding: 5px 14px;
    color: black;
}

.btn:hover {
    background-color: #2e2942;
    color: #f7f9f9;
}

.hidden {
    display: none;
}