* {
    box-sizing: border-box;
}

body {
    font-family: 'Golos Text', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.main-content {
    min-height: 80vh;
    background-image: url(../images/banner-ged899ee4f_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 60px;
    color: #2d2354;
    text-shadow: 2px 2px #fdfcff;

}

.error {
    color: #ff0000;
    font-weight: bold;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #2e2942;
    border-radius: 5px;
    padding: 14px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#question-container {
    width: 100%;
}

.question-content {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.image-container img {
    width: 100%;
    max-width: 250px;
    height: 150px;
}

.answer-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    border: 2px solid;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px 14px;
    color: black;
    font-family: 'Golos Text', sans-serif;
    cursor: pointer;
}

.answer-buttons .btn {
    width: 120px;
    height: 60px;
}

.btn:hover {
    background-color: #2e2942;
    color: #ffffff;
}

.answer-btn.correct {
    background-color: #1b5d1b;
    color: #ffffff;
}

.answer-btn.wrong {
    background-color: #ff0000;
    color: #ffffff;
}

.hidden {
    display: none;
}

#question-counter {
    position: absolute;
    right: 14px;
    top: 14px;
}

/* footer */

footer {
    background-color: #2e2942;
    color: #ffffff;
    padding-bottom: 14px;
}

.contact-wrapper {
    text-align: center;
    display: inline;
    padding: 0 28px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    padding: 0 28px;
}

.social-networks i {
    color: #ffffff;
    font-size: 30px;
}

/* Media queries */

/* For small screens sizes up to 500px wide */
@media screen and (max-width: 600px) {
    h1 {
        text-shadow: none;
        color: #ffffff;
    }

    .start-form {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
    }

    .image-container {
        display: none;
    }

    .answer-buttons .btn {
        margin-bottom: 14px;
    }
}