* {
    box-sizing: border-box;
}

body {
    font-family: "Kaushan Script", sans-serif;
    margin-top: 60px;
    padding: 0;
    color: #f7f9f9;
    background-color: #dbe8e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #4a6863;
    border-radius: 5px;
    padding: 14px;
    box-shadow: 0 0 10px 2px;
}

.answer-buttons {
    display: flex;
    margin: 20px 0;
    column-gap: 60px;
}

.btn {
    border: 2px solid;
    background-color: #ffff;
    border-radius: 10px;
    padding: 5px 14px;
    color: black;
}

.btn:hover {
    border-color: #987304;
}

.hidden {
    display: none;
}